body{ margin:0;
    background-color: rgba(250,150,20,0.8);
    font-size: 5em;    
}

.stop-watch{
    display: flex;
    justify-content: center;
    margin-top: 150px;  
     
}

.btns{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}

.bt{
margin-right: 15px;
padding: 10px;
width: 90px;
}